<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <h3>
        For more info please visit: <a href="https://www.who.int/" target="_blank" rel="noopener noreferrer">World Health Organization</a>
      </h3>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Email me: lesters821@gmail.com
    </ion-card-content>
  </ion-card>
  
</ion-content>



<!-- Footer without a border -->
<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Card</ion-title>
    </ion-toolbar>
  </ion-header>,
  <ion-content fullscreen>
    <ion-card>
      <img src="https://cdn.labmanager.com/assets/articleNo/22021/aImg/40702/novel-coronavirus-illustration-m.png" />
      <ion-card-header>
        <ion-card-subtitle>This application is for educational purpose only</ion-card-subtitle>
        <ion-card-title>COVID-19 Tracker</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        This will end soon.
      </ion-card-content>
    </ion-card>
  </ion-content>
  <ion-footer class="ion-no-border">
    <ion-toolbar>
      <ion-card-subtitle>
         &nbsp;  &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; lesters821@gmail.com
      </ion-card-subtitle>
    </ion-toolbar>
  </ion-footer>
  
</ion-app>